$main-font-family: "Poppins", sans-serif;
$nav-size: 14px;
$big-title-size: 58px;
$title-size:38px;
$paragraph-size: 14px;
$paragraph-color:#8F8F8F;
$main-parag-size: 18px;
$main-color: #ff6057;
$white: #fff;
$black: #000;
$footer-color: #333333;
$gradient-color: linear-gradient(
  270deg,
  rgba(124, 28, 128, 0.659) 0.9%,
  #ff6057 97.7%
);
$btn-width:178px;
$btn-height:47px;

$red:#F1291E;
$blue:#36C5AD;
$purple:#CB4BF8;
$green:#56E65B;